<mat-card 
    class="mat-elevation-z4"
    fxLayoutAlign="start stretch"
    fxLayout="column"
    fxFlex
    materialElevation
    *ngIf="manga !== null"
    [ngClass]="{'empty-manga': chapters.length === 0}"
    (click)="openContentPage()"
>
    <div mat-card-image>
        <div class="cover-image-container">
            <img
                [src]="linkToCover()"
                alt="Manga Cover"
                class="cover-image"
            />
            <div class="cover-image-overlay">
                <h3 class="cover-text">{{ manga.name }}</h3>
            </div>
        </div>
    </div>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button fxFlex="33%" materialElevation [defaultElevation]="0" [raisedElevation]="3" mat-icon-button class="manga-card-button" (click)="markMangaAsRead($event)">
            <mat-icon>done_all</mat-icon>
        </button>
        <div fxFlex="33%" class="chapter-count">
            <mat-card-title>{{ chapters.length }}</mat-card-title>
            <mat-card-subtitle>{{ getChaptersToRead() }}</mat-card-subtitle>
        </div>
        <button fxFlex="33%" materialElevation [defaultElevation]="0" [raisedElevation]="3" mat-icon-button class="manga-card-button" (click)="openAndMarkChapterRead($event)">
            <mat-icon>open_in_new</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>