<div class="content">
    <div 
        fxLayout="row wrap"
        fxLayoutGap="32px grid"
        *ngIf="mangas.length > 0"
    >
        <app-followed-manga
            [fxFlex]="'0 0 ' + (100/5) +'%'"
            [fxFlex.gt-lg]="'0 0 ' + (100/8) +'%'"
            [fxFlex.lg]="'0 0 ' + (100/6) +'%'"
            [fxFlex.md]="'0 0 ' + (100/4) +'%'"
            [fxFlex.sm]="'0 0 ' + (100/3) +'%'"
            [fxFlex.lt-sm]="'0 0 ' + (100/1) +'%'"
            *ngFor="let manga of mangas"
            [manga]="manga"
        ></app-followed-manga>
    </div>

    <h1 class="nothing-here" *ngIf="mangas.length === 0">No mangas followed</h1>
</div>