.add-manga-container {
  margin: 22px;
}

table {
  width: 100%;
}

.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  width: 100%;
}

.detail-table {
  background: #b7b7b773;
  text-align: center;
}

.description-tab {
  margin-bottom: 12px;
}

.clickable:hover {
    cursor: pointer;
}